<% unless current_user %>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Dashboards!</h1>
    <p class="lead">Start using it by creating an account or sign in</p>
    <hr class="my-4">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-info" %>
  </div>
<% end %>

<% if @dashboards %>
  <div id="dashboardsList">
    <% @dashboards.each do |dashboard| %>
        <div class="panel panel-default border border-success dashboard" data-id=<%= dashboard.id %>>
          <div class="panel-body text-center"><%= dashboard.content.html_safe %></div>
        </div>
    <% end %>
  </div>
  <div class="buttons text-center">
    <button type="button" class="btn btn-success" id="saveDashboardOrder">Save</button>
  </div>
<% end %>