<h2>New dashboard</h2>

<%= form_for @dashboard do |f| %>
  <div class="form-group">
    <%= f.label :dashboard_type %><br />
    <%= f.select :dashboard_type_id, options_for_select(DashboardType.pluck(:title, :id)), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %><br />
    <%= f.text_field :content, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>

