<% if current_user %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "New dashboard", new_dashboard_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Homepage", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="2" aria-disabled="true"><%= current_user.email %></a>
    </li>
    <li class="nav-item">
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>
<% end %>