<!DOCTYPE html>
<html>
  <head>
    <title>Dashboards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key.to_sym) %>">
          <%= value %>
        </div>
      <% end %>

      <%= render "layouts/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
